# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x

# Temporary
*.swp

# Cmake folder
cmake/
build/

# qtcreator files
particles2d.config
particles2d.creator
particles2d.creator.user
particles2d.files
particles2d.includes

# orig files
*.orig

#visual studio code files
.vscode/
